{% extends 'base.html' %}
{% block content %}

  <!-- widget without graph -->
          <!--begin::Row-->
        <div class="row g-5 g-xl-10" hx-get="/widgets/data/without-graph" hx-trigger="load" hx-target="#sales_widget_without_graph" hx-swap="innerHTML">
             <!--begin::Col-->
            <div class="col-xxl-6 mb-md-5 mb-xl-10" id = "sales_widget_without_graph">
            </div>
            <!-- end:Col -->
        </div>
        <!-- end::Row -->
         <div class="row g-5 g-xl-10" hx-get="/widget/data/graph" hx-trigger="load" hx-target="#sales_widget_with_graph" hx-swap="innerHTML">
             <!--begin::Col-->
            <div class="col-xxl-6 mb-md-5 mb-xl-10" id = "sales_widget_with_graph">
            </div>
            <!-- end:Col -->
        </div>

      <!-- KPI widget -->

      <div class="col-xxl-6 mb-md-5 mb-xl-10">
          <!--begin::Row-->
            <div class="row g-5 g-xl-10" hx-get="/kpi-widget-data" hx-trigger="load" hx-target="#kpi_widget_data" hx-swap="innerHTML">
            <!--begin::Col-->
                <div id="kpi_widget_data">
                    <!-- loading data using htmx, partial template will load inside this div -->
                </div>
            <!-- end ::Col-->
            </div>
      </div>
     <!--- End :: KPI widget -->




       <!--- begin:: prospect widget --->
       <div class="row g-5 g-xl-10" hx-get="/widget/prospects" hx-trigger="load" hx-target="#prospect-widget" hx-swap="innerHTML">
        <!--begin::Col-->
            <div class="col-xl-4 mb-xl-10" id="prospect-widget">
            </div>
       </div>
       <!--  End :: Prospect widget Row --->

      <!--- begin:: Sales type Widget -->
            <!-- being:: Row -->
          <div class="row gy-5 g-xl-10" hx-get="/widget/sales-type" hx-trigger="load" hx-target="#sales-widget" hx-swap="innerHTML">
                <!-- being:: Col -->
              <div class="col-xl-4 mb-xl-10" id="sales-widget">
                 <!-- loading data using htmx, partial template will load inside this div -->
              </div>
                <!-- end:: Col -->



          </div>
             <!-- end:: Row -->
       <!-- end :: Row Sales type widget -->





{% endblock content %}



{% block extrascript %}

    {{ super() }}
    <script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>

{% endblock extrascript %}