<!--begin::Col-->
<div class="col-xl-6 ">
    {% for widget in widgets_data_without_graph %}


    <!--begin::Card widget 8-->
    <div class="card card-flush mb-xl-10">
        <!--begin::Header-->
        <div class="card-header pt-5">
            <!--begin::Title-->
            <div class="card-title d-flex flex-column">
                <span class="text-gray-500 pt-1 fw-semibold fs-6">{{widget.title}}</span>
                <!--begin::Info-->
                <div class="d-flex align-items-center">
                    <!--begin::Amount-->
                    <span class="fs-2hx fw-bold text-gray-900 me-2 lh-1 ls-n2">{{ widget.value }}</span>
                    <!--end::Amount-->
                    <!--begin::Badge-->

                    <span class="badge {% if widget.trend == 'up' %}badge-light-success{% else %}badge-light-danger{% endif %} fs-base">
                    <i class="ki-duotone ki-arrow-{{ widget.trend }} fs-5 text-{{ widget.trend }} ms-n1">
                        <span class="path1"></span>
                        <span class="path2"></span>
                    </i>{{ widget.percentage }}</span><!--end::Badge-->
                </div>
                <!--end::Info-->
                <!--begin::Subtitle-->

                <span class="text-gray-500 pt-1 fw-semibold fs-6">{{ widget.average }}</span>

                <!--end::Subtitle-->
            </div>
            <!--end::Title-->
        </div>
        <!--end::Header-->

        <!--end::Card body-->
    </div>
    <!--end::Card widget 8-->
    <!--begin::Card widget 5-->

    <!--end::Card widget 5-->

    {% endfor %}
</div>



